h1{
    border-radius: 20px;
    background-color: rgb(156, 156, 184);
    border: 2px solid red;
    text-align: center;
}
.i{
    color: red;
}
.d{
    color: black;
}
.r{
    color: black;
}
.e{
    color: green;
}
.w{
    background-color: yellow;
    color: green;
    text-align: center;
}
img{
    width: 600px;
    height: 300px;
}
.y{
    background-color: yellow;
    color: green;
    text-align: center;
}
p{
    text-align: center;
}
input{
    width: 600px;
    padding: 10px;
}
.q{
    color: green;
}
h3{
    color: green;
}
button{
    background-color: rgb(38, 38, 82);
    padding: 8px;
    width: 200px;
    color: white;
}
.y{
    background-color: yellow;
    color: green;
}
table,th,td,tr{
    border: 1px solid black ;
    text-align: center;
    
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    color: white;
}
.c{
    background-color: green;
}
.m{
    background-color: blue;
}
.n{
    background-color: black;
}
.u{
    background-color: black;
}
.z{
    background-color: red;
}.v{
    background-color: red;
}
td{
    color: white;
}
